@keyframes kleurver {
    from {
        background-color: black;
    }
    to {
        background-color: #AF9164;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Bart;
    src: url("BioRhyme-Regular.otf");
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: Bart;
    font-size: 21px;
}

#content {
    display: inline;
    position: relative;
}

h1 {
    background: linear-gradient(to right, yellow, red);
    opacity: 0.5;
    text-align: center;
}

li {
    list-style-type: none;
}

#w1 {
    background-color: black;
    position: relative;
    text-align: center;
    width: 35%;
    display: block;
    border: 1p;
    padding: 5px;
    color: white;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: auto;
    border-bottom: 1px solid white;
}

#w2 {
    background-color: black;
    position: relative;
    text-align: center;
    width: 35%;
    display: block;
    border: 1p;
    padding: 5px;
    opacity: 0.7;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
}

#w3 {
    background-color: black;
    position: relative;
    text-align: center;
    width: 35%;
    display: block;
    border: 1p;
    padding: 5px;
    opacity: 0.7;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#w1:hover #items1 {
    display: block;
}

#w1:hover #wkb {
    border-bottom: 1px solid;
    animation-name: kleurver;
    animation-duration: 1s;
    background-color: #AF9164;
}

#w2:hover #items2 {
    display: block;
}

#w2:hover #wkb {
    border-bottom: 1px solid;
    animation-name: kleurver;
    animation-duration: 1s;
    background-color: #AF9164;
}

#w3:hover #werk {
    border-bottom: 1px solid;
    animation-name: kleurver;
    animation-duration: 1s;
    background-color: #AF9164;
}

#w3:hover #tw {
    display: block;
}

#items1 {
    display: none;
    color: beige;
}

#items2 {
    display: none;
    color: beige;
}

#html1:hover #htmlt {
    display: block;
    color: yellowgreen;
}

#htmlt {
    display: none;
}

#css1:hover #csst {
    display: block;
    color: yellowgreen;
}

#csst {
    display: none;
}

#ide1:hover #idet {
    display: block;
    color: yellowgreen;
}

#idet {
    display: none;
}

#boot1:hover #boott {
    display: block;
    color: yellowgreen;
}

#boott {
    display: none;
}

#js1:hover #jst {
    display: block;
    color: yellowgreen;
}

#jst {
    display: none;
}

#php1:hover #phpt {
    display: block;
    color: yellowgreen;
}

#phpt {
    display: none;
}

#sql1:hover #sqlt {
    display: block;
    color: yellowgreen;
}

#sqlt {
    display: none;
}

#db1:hover #dbt {
    display: block;
    color: yellowgreen;
}

#dbt {
    display: none;
}

#lu1:hover #lut {
    display: block;
    color: yellowgreen;
}

#lut {
    display: none;
}

#git1:hover #gitt {
    display: block;
    color: yellowgreen;
}

#gitt {
    display: none;
}

#ws1:hover #wst {
    display: block;
    color: yellowgreen;
}

#wst {
    display: none;
}

#sol1:hover #solt {
    display: block;
    color: yellowgreen;
}

#solt {
    display: none;
}

#net1:hover #nett {
    display: block;
    color: yellowgreen;
}

#nett {
    display: none;
}

#com1:hover #comt {
    display: block;
    color: yellowgreen;
}

#comt {
    display: none;
}

#as1:hover #ast {
    display: block;
    color: yellowgreen;
}

#ast {
    display: none;
}

#sam1:hover #samt {
    display: block;
    color: yellowgreen;
}

#samt {
    display: none;
}

#or1:hover #ort {
    display: block;
    color: yellowgreen;
}

#ort {
    display: none;
}

#pi1:hover #pit {
    display: block;
    color: yellowgreen;
}

#pit {
    display: none;
}

#werk:hover #tw {
    display: block;
}

#tw {
    display: none;
}

input {
    width: 20px;
    height: 20px;
}