body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/*Header area */

.container {
    position: relative;
    text-align: center;
    color: white;
}

.menu {
    position: absolute;
    display: inline;
    top: 35px;
    right: 50px;
    font-weight: bold;
    text-transform: lowercase;
    border-style: solid;
    border-color: lightgoldenrodyellow;
    border-radius: 25px 25px 25px 25px;
    font-family: "Source Sans Pro", serif;
    opacity: 0.85;
}

.menu a:any-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 8px;
}

.menu a:hover {
    color: white;
    text-decoration: underline;
}

header img {
    opacity: 0.7;
}


/*header end*/

.divider {
    height: 400px;
    background-color: #FFFFFF;
}


/*
.events {
height: 100%;
width:100%;
}

*/

.move img {
    opacity: 0.7;
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    left: 900px;
    bottom: 200px;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 50px;
    }
}

#ceespot {
    margin-left: 250px;
    margin-right: 50px;
    float: left;
}

#upevent,
#sign {
    font-size: 40px;
    font-weight: bold;
}

.move {
    margin-left: 50px;
}


/* The eventblock size is defined and the connected img should cover the box */

.eventblock {
    column-count: 3;
    align-content: center;
    margin: 0 90px 0 90px;
}

h2 {
    color: #FFFFFF;
    font-size: 40px;
}

h3 {
    color: #000000;
    font-size: 40px;
}

h4 {
    color: #000000;
    font-size: 40px;
}


/*h2 {
	color: #FFFFFF;
	size: 30px;
}
*/

.text {
    height: 100%;
    width: 100%;
    margin: 0;
}


/* The seperate events should have a background img */


/* Code repeats itself too much, find way to make a parent class */

#codegorilla {
    box-sizing: content-box;
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.9;
    text-align: center;
    line-height: 150px;
    /* Not preferred - look for alternative */
    display: inline-block;
    margin: 40px;
    box-shadow: 0px 0px 15px #888888;
    background-image: url("../images/codegorilla.jpg");
}

#event2 {
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.9;
    text-align: center;
    line-height: 150px;
    display: inline-block;
    margin: 40px;
    box-shadow: 0px 0px 15px #888888;
    background-image: url("../images/year.jpg");
}

#event3 {
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.7;
    text-align: center;
    line-height: 150px;
    display: inline-block;
    margin: 40px;
    box-shadow: 0px 0px 15px #888888;
}

#event4 {
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.7;
    text-align: center;
    line-height: 150px;
    display: inline-block;
    margin: 40px;
    box-shadow: 0px 0px 15px #888888;
    background-image: url("../images/filler.jpg");
}

#event5 {
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.7;
    text-align: center;
    line-height: 150px;
    display: inline-block;
    margin: 40px;
    box-shadow: 0px 0px 15px #888888;
    background-image: url("../images/filler2.jpg");
}

#event6 {
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.7;
    text-align: center;
    line-height: 150px;
    display: inline-block;
    margin: 40px;
    box-shadow: 0px 0px 15px #888888;
    background-image: url("../images/filler3.jpg");
}

#event7 {
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.7;
    text-align: center;
    line-height: 150px;
    display: inline-block;
    margin: 40px;
    box-shadow: 0px 0px 15px #888888;
    background-image: url("../images/filler4.jpg");
}

#event8 {
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.7;
    text-align: center;
    line-height: 150px;
    display: inline-block;
    margin: 40px;
    box-shadow: 0px 0px 15px #888888;
    background-image: url("../images/filler5.jpg");
}

#event9 {
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.7;
    text-align: center;
    line-height: 150px;
    display: inline-block;
    margin: 40px;
    box-shadow: 0px 0px 15px #888888;
    background-image: url("../images/filler7.jpg");
}


/*on hover red box shadow */

#codegorilla:hover {
    box-shadow: 0px 0px 20px red;
}

#event2:hover {
    box-shadow: 0px 0px 20px red;
}

#event3:hover {
    box-shadow: 0px 0px 20px red;
}

#event4:hover {
    box-shadow: 0px 0px 20px red;
}

#event5:hover {
    box-shadow: 0px 0px 20px red;
}

#event6:hover {
    box-shadow: 0px 0px 20px red;
}

#event7:hover {
    box-shadow: 0px 0px 20px red;
}

#event8:hover {
    box-shadow: 0px 0px 20px red;
}

#event9:hover {
    box-shadow: 0px 0px 20px red;
}


/*
.footer {
	width: 250px;
	margin-left: ;
	background-color: red;
}

.footer a {
	text-decoration: none;
	
}
*/