@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@keyframes slide {
    100% {
        left: 230px;
    }
}

@keyframes slide1 {
    100% {
        left: 630px;
    }
}

@keyframes slide2 {
    100% {
        left: 1030px;
    }
}

@keyframes test {
    0% {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 630px;
        z-index: 2;
    }
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 630px;
        margin: auto;
        transform: scale(4, 4);
        opacity: 0;
        z-index: 2;
    }
}

@-moz-keyframes slide {
    100% {
        left: 200px;
    }
}

@-moz-keyframes slide1 {
    100% {
        left: 600px;
    }
}

@-moz-keyframes slide2 {
    100% {
        left: 1000px;
    }
}

@keyframes smoky {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@for $item from 1 through 21 {
    span:nth-of-type(#{$item}) {
        animation-delay: #{(3 + ($item/10))}s;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: block;
    position: fixed;
    background-color: #26282a;
    opacity: 0.7;
    width: 175px;
    height: 100%;
    z-index: 1;
    font-size: 21px;
}

nav p {
    margin-top: 5%;
    color: #F4F8F4;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
}

nav h1 {
    text-align: center;
    color: #F4F8F4;
    font-size: 23px;
    font-weight: normal;
}

nav h1:hover::first-letter {
    color: #e3571a;
}

nav ul {
    margin-top: 15px;
}

nav div#navigbar {
    margin-top: 35%;
    margin-bottom: auto;
}

nav div li {
    list-style: none;
    text-align: center;
}

nav div li a {
    text-decoration: none;
    color: #848e95;
}

nav div li a:hover {
    text-decoration: none;
    color: #F4F8F4;
}

body {
    background-color: #F4F8F4;
}

img {
    margin-left: auto;
    margin-right: auto;
    top: -340px;
    left: -220px;
    position: absolute;
    display: inline-block;
    opacity: 0.6;
    z-index: -1;
}

#smoke {
    display: inline-block;
    margin-top: 8%;
    margin-left: 32%;
    font-size: 100px;
    color: #636462;
    text-align: center;
}

.desc {
    left: 200px;
    position: absolute;
    margin-top: 5%;
    display: none;
}

.sl {
    box-shadow: 1px 1px 4px 4px #636462;
    border-radius: 15px 15px 15px 15px;
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 10%;
    background: #82887A;
    opacity: 0.9;
    left: -360px;
    width: 350px;
    height: 250px;
    transition: all 0.7s ease;
}

.sl:hover {
    width: 355px;
    height: 252px;
    -webkit-filter: grayscale(100%);
    box-shadow: 1px 1px 4px 4px rgb(37, 35, 35);
}

#slide0,
#slide3,
#slide6,
#slide9,
#slide12,
#slide15,
#slide18 {
    animation: slide 1.0s forwards;
    animation-delay: 0.5s;
    -moz-animation: slide 1.0s forwards;
    -moz-animation-delay: 0.5s;
}

#slide1,
#slide4,
#slide7,
#slide10,
#slide13,
#slide16,
#slide19 {
    animation: slide1 1.5s forwards;
    animation-delay: 0.5s;
    -moz-animation: slide1 1.5s forwards;
    -moz-animation-delay: 0.5s;
}

#slide2,
#slide5,
#slide8,
#slide11,
#slide14,
#slide17,
#slide20 {
    animation: slide2 2.0s forwards;
    animation-delay: 0.5s;
    -moz-animation: slide2 2.0s forwards;
    -moz-animation-delay: 0.5s;
}

span {
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
    animation: smoky 5s 1s both;
}

span:nth-child(even) {
    animation-name: smoky-mirror;
}

div[class="sl groot"] {
    transform: scale(1.7);
}